<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="ShadyMeadowsTest">
        <classes>
            <class name="Test.ShadyMeadowsTest">
            <methods>
                <include name="Test1"/>
            </methods>
        </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="ShadyMeadowsTest2">
        <classes>
            <class name="Test.ShadyMeadowsTest">
                <methods>
                    <include name="Test2"/>
                </methods>
            </class>
        </classes>
    </test></suite>